<div class="col-10 offset-1 about">
	<h1>About Splurty</h1>
<p>
    Splurty was built by <a target="_blank" href="http://github.com/rainadawn">Raina. </a> A student on a mission to learn from people the technical skills needed to launch her own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    Attempting to learn this coding business in 24 weeks.  
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
</div>

<div class="row">
	<div class="col-12 col-sm-4">
		<%= image_tag 'raina.jpg', class: 'img-fluid' %>
	</div>

	<div class= "col-12 col-sm-7 offset-sm-1">
		<h2 class="text-center"> Raina Peneton</h2>
		<br />
		<p>
			Raina currently saves lives, mitigates large-scale property damage, and reduces suffering through her National Guard job in the Joint Operations Center.  She also managed a team that recovered 19 victims of the Oso, Washington mudslide in 2014.  Her next phase is less dramatic and involves coding. 
		</p>
	</div>
</div>


<br class="clear" />
<br />
<br />
<br />
<br />